---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <h2>Members</h2>

    {% assign grouped_members = site.members | sort: 'order' | group_by: 'level' %}

    {% for level in grouped_members %}
    <h3 class="member-level">{{ level.name }}</h3>

    <div class="members-list">
        {% for member in level.items %}
        {% if member.hidden %}
        {% continue %}
        {% endif %}
        <div class="member-item">
            <div class="member-image">
                {% if member.picture %}
                <div class="member-picture" style="background-image: url('{{ member.picture | relative_url }}');"></div>
                {% else %}
                <div class="member-picture" style="background-image: url('{{ "/assets/images/datalab-icon.png" | relative_url }}'></div>
                {% endif %}
            </div>
            <div class="member-info">
                <a href="{{ member.url | relative_url }}" class="member-name">{{ member.full_name }}</a>
                {% if member.bio %}
                <span class="bio">{{ member.bio }}</span>
                {% endif %}
                {% if member.email %}
                <a href="mailto:{{ member.email }}" class="member-email">
                    <i class="fa-regular fa-envelope"></i>
                </a>
                {% endif %}
                {% if member.website %}
                <a href="{{ member.website }}" target="_blank" class="member-website">
                    <i class="fa-solid fa-up-right-from-square"></i>
                </a>
                {% endif %}
                {% if member.github %}
                <a href="{{ member.github | relative_url }}" class="member-github">
                    <i class="fa-brands fa-github"></i>
                </a>
                {% endif %}
                {% if member.linkedin %}
                <a href="{{ member.linkedin }}" target="_blank" class="member-linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                {% endif %}
                {% if member.twitter %}
                <a href="{{ member.twitter }}" target="_blank" class="member-twitter">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
                {% endif %}
                {% if member.orcid %}
                <a href="{{ member.orcid }}" target="_blank" class="member-orcid">
                    <i class="fa-brands fa-orcid"></i>
                </a>
                {% endif %}
                {% if member.scholar %}
                <a href="{{ member.scholar }}" target="_blank" class="member-scholar">
                    <i class="fa-brands fa-google-scholar"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endfor %}

</div>
